<style>
   .search-btn {
      background-color: #fe424d;
      color: white;
      border-radius: 25px;
      padding: 0 1rem 0 1rem;
   }

   .search-btn:hover {
      background-color: #fe424d;
      color: white;
   }

   .search-btn i{
      display: inline;
      margin-right: 0.5rem;
   }

   .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
   }



/* ------------------ Media Queries ------------------ */

/* Extra Large (≥1200px) */
@media (min-width: 1200px) {
  .navbar-nav {
    background-color: white;
    height: 48px;
  }
}

/* Tablets (576px–767px) */
@media (max-width: 767px) and (min-width: 576px) {
  .navbar-nav {
    background-color: white;
    height: auto;
  }
}

/* Phones (<575px) */
@media (max-width: 575px) {
  .navbar-nav {
    background-color: white;
    height: auto;
  }

  /* keep signup/login in one line */
  .navbar-nav.ms-auto {
    flex-wrap: nowrap;
    gap: 0.4rem;
  }

  .navbar-nav.ms-auto .nav-link {
    font-size: 0.9rem;
    padding: 0.3rem 0.6rem;
  }

  /* Adjust search box */
  .search-inp {
    padding: 0.4rem 1rem;
    font-size: 0.9rem;
    border: 1px solid black;
    
  }


  .search-btn {
    padding: 0 0.8rem;
    font-size: 0.9rem;
  }
}

/* Small Phones (<400px) */
@media (max-width: 400px) {
  .navbar-nav {
    background-color: white;
    height: 48px;
  }
 
  .navbar-nav.ms-auto {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .navbar-nav.ms-auto .nav-link {
    font-size: 0.85rem;
    margin: 0 0.3rem;
  }

  .search-inp {
    width: 120px;
    
    
  }
}
</style>



<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">

    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <div class="navbar-nav">

        <a class="nav-link" href="/listings">Explore</a>
        
      </div>

      <!-- Search box -->

      <div class="navbar-nav ms-auto ">
        <form class="d-flex" role="search">
          <input 
            class="form-control me-2 search-inp" 
            type="search" 
            placeholder="Search destinations" />
          <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
       </form>
      </div>

      <!-- --------------- for user log, logout or sign -------------------------- -->

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Add Your Airbnb</a>
        <% if(!currUser) {%>  <!--  --------------- user is not login ---------------------- -->
        <a class="nav-link" href="/signup"><b>Sign up</b></a>
        <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %>

        <% if(currUser) {%>
        <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>

      </div>

    </div>
  </div>
</nav>